.experiencesAndEducationRow {
  --bs-gutter-x: 85px;
}
@media screen and (max-width: 1399px) {
  .experiencesAndEducationRow {
    --bs-gutter-x: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .experiencesAndEducationRow {
    --bs-gutter-x: 30px;
  }
}
@media screen and (max-width: 767px) {
  .experiencesAndEducationRow {
    --bs-gutter-x: 20px;
  }
}

.experiencesAndEducationInfo {
  /* border: none; */
  /* color: rgb(18, 18, 18); */
  width: 100%;
  height: 100%;
  color: white;
  gap: 30px;
  padding: 30px 35px;
}
@media screen and (max-width: 1199px) {
  .experiencesAndEducationInfo {
    gap: 25px;
    padding: 20px 25px;
  }
}
@media screen and (max-width: 991px) {
  .experiencesAndEducationInfo {
    row-gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .experiencesAndEducationInfo {
    padding: 15px 20px;
  }
}

.experiencesAndEducationInfosTitle {
  /* color: rgb(18, 18, 18); */

  font-family: var(--caveat);
  color: var(----golden);
  color: white;
  line-height: 1.944;
  padding-left: 40px;
  position: relative;
  margin-bottom: 7px;
}
@media screen and (max-width: 1399px) {
  .experiencesAndEducationInfosTitle {
    font-size: 32px;
  }
}
@media screen and (max-width: 1199px) {
  .experiencesAndEducationInfosTitle {
    font-size: 30px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 991px) {
  .experiencesAndEducationInfosTitle {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .experiencesAndEducationInfosTitle {
    font-size: 25px;
    padding-left: 25px;
  }
}
@media screen and (max-width: 575px) {
  .experiencesAndEducationInfosTitle {
    line-height: 1.5;
  }
}
.experiencesAndEducationInfosTitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  background: url(/banner-vector-3.png) no-repeat center center;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  animation: spin 3.5s linear reverse infinite;
}
@media screen and (max-width: 767px) {
  .experiencesAndEducationInfosTitle::before {
    width: 15px;
    height: 15px;
  }
}

.experiencesAndEducationInfoTimespan {
  margin-bottom: 0;
  line-height: 1.625;
  font-weight: 400;
}
.experiencesAndEducationInfoTitle {
  font-size: 22px;
  line-height: 1.417;
}
@media screen and (max-width: 1199px) {
  .experiencesAndEducationInfoTitle {
    font-size: 20px;
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 767px) {
  .experiencesAndEducationInfoTitle {
    font-size: 16px;
    margin-bottom: 2px;
  }
}
.experiencesAndEducationInfoSubTitle {
  font-size: 18px;
  /* color: rgb(85, 85, 85); */
  color: white;
  line-height: 1.556;
  font-weight: 400;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .experiencesAndEducationInfoSubTitle {
    font-size: 16px;
  }
}
.experiencesAndEducationInfo:not(:last-child) {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .experiencesAndEducationInfo:not(:last-child) {
    margin-bottom: 20px;
  }
}

.experiencesAndEducationSkill {
  border-radius: 10px;
  box-shadow: 0 18px 24px 0px rgba(255, 255, 255, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding: 25px 35px;
}
@media screen and (max-width: 1399px) {
  .experiencesAndEducationSkill {
    padding: 18px 25px;
    gap: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .experiencesAndEducationSkill {
    padding: 12px 15px;
    gap: 10px;
  }
}
@media screen and (max-width: 991px) {
  .experiencesAndEducationSkill {
    padding: 17px 15px 17px;
    flex-direction: column;
    text-align: center;
    gap: 6px;
  }
}
@media screen and (max-width: 575px) {
  .experiencesAndEducationSkill {
    padding: 12px 15px;
    flex-direction: row;
    text-align: left;
    gap: 10px;
  }
}
@media screen and (max-width: 479px) {
  .experiencesAndEducationSkill {
    padding: 30px 0px 30px;
    flex-direction: column;
    text-align: center;
    gap: 6px;
  }
}
.experiencesAndEducationSkillImage {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.experiencesAndEducationSkillImage img {
  border-radius: 25%;
  background-color: rgb(255, 255, 255);
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}
