.contactSection {
  position: relative;
  z-index: 1;
  padding-top: 1.25rem;
}
.contactWave {
  position: absolute;
  z-index: -1;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 533px;
}

.contactSection .section__heading {
  margin-bottom: 36px;
}
@media screen and (max-width: 991px) {
  .contactSection .section__heading {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 575px) {
  .contactSection .section__heading {
    margin-bottom: 20px;
  }
}
.contactSection .section__sub-title {
  padding-left: 85px;
}
@media screen and (max-width: 479px) {
  .contactSection .section__sub-title {
    padding-left: 65px;
  }
}
.contactSection .section__sub-title::before {
  left: 0;
}
.contactSection .section__sub-title::after {
  content: none;
}
.contactInfo {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .contactInfo {
    gap: 15px;
  }
}
@media screen and (max-width: 479px) {
  .contactInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.contactInfo:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (max-width: 1199px) {
  .contactInfo:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 479px) {
  .contactInfo:not(:last-child) {
    margin-bottom: 20px;
  }
}
.contactInfoIcon {
  background-color: rgb(253, 252, 250);
  border-radius: 8px;
  box-shadow: 0 14px 22px rgba(134, 112, 239, 0.16);
  width: 78px;
  height: 78px;
  display: grid;
  place-content: center;
  color: var(--purple);
  padding: 10px;
  font-size: 45px;
}
@media screen and (max-width: 1399px) {
  .contactInfoIcon {
    width: 68px;
    height: 68px;
    font-size: 35px;
  }
}
@media screen and (max-width: 1199px) {
  .contactInfoIcon {
    width: 63px;
    height: 63px;
    font-size: 30px;
  }
}
@media screen and (max-width: 479px) {
  .contactInfoIcon {
    width: 58px;
    height: 58px;
    box-shadow: 0 10px 18px rgba(134, 112, 239, 0.16);
  }
}
.contactInfoTitle {
  line-height: 1.56;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .contactInfoTitle {
    font-size: 16px;
    margin-bottom: 3px;
  }
}
.contactInfoValue {
  font-size: 24px;
  line-height: 1;
  color: var(--black);
  margin-bottom: 0;
}
@media screen and (max-width: 1199px) {
  .contactInfoValue {
    font-size: 22px;
  }
}
@media screen and (max-width: 479px) {
  .contactInfoValue {
    font-size: 20px;
  }
}
.contactInfoValue a:hover {
  color: var(--purple);
}
.contactLinks a {
  margin-top: 45px;
}
@media screen and (max-width: 1399px) {
  .contactLinks a {
    padding: 15px 35px;
    min-width: auto;
  }
}
@media screen and (max-width: 1199px) {
  .contactLinks a {
    width: auto;
    padding: 15px 25px;
  }
}
@media screen and (max-width: 479px) {
  .contactLinks a {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .contactLinks {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (max-width: 479px) {
  .contactLinks a .main-icon {
    display: block;
  }
}
.contactLinks a:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 1199px) {
  .contactLinks a:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 575px) {
  .contactLinks a:last-child {
    margin-top: 20px;
  }
}

.contactForm input,
.contactForm select,
.contactForm textarea {
  width: 100%;
  border-bottom: 1px solid rgb(18, 18, 18);
  background-color: transparent;
  color: var(--black);
  vertical-align: top;
  padding-bottom: 14px;
  margin-bottom: 53px;
}
.contactForm input:focus,
.contactForm select:focus,
.contactForm textarea:focus {
  outline: none;
  border-color: var(--purple);
}
.contactForm textarea {
  height: 110px;
  margin-bottom: 0;
}
.contactForm button {
  margin-top: 30px;
}
