@media screen and (min-width: 2225px) {
  .pinContainerWrapper {
    row-gap: 5rem;
  }
}

@media screen and (min-width: 3330px) {
  .pinContainerWrapper {
    row-gap: 10rem;
  }
}
/* Ensure comfortable spacing at typical desktop widths */
@media screen and (min-width: 1280px) and (max-width: 1999px) {
  .pinContainerWrapper {
    row-gap: 4rem;
  }
}
